{% extends "base.html" %}

{% block content %}
  <h2>Bike id: {{bike.code}}</h2>
  {% if bike.comment %}
  <p>{{bike.comment}}</p>
  {% endif %}
  {% if bike.renter %}
  <p>Bike assigned to <a href="/renter/{{bike.renter.email}}">{{bike.renter.email}}</a></p>
  <form method="POST">
  	<textarea name="comment" placeholder="comments..." value="{{bike.comment}}"></textarea>
  	<input type="hidden" name="return" value="true">
    <br>
  	<input type="submit" value="Return Bike" class="btn btn-lg btn-danger">
  </form>
  {% else %}
  <p>Bike unassigned</p>

  <form method="POST">
  	<textarea name="comment" placeholder="comments..." value="{{bike.comment}}"></textarea>
  	<input type="hidden" name="return" value="false">
  	<br>
  	<input type="submit" value="Save Comment" class="btn btn-hg btn-primary">
  </form>
  {% endif %}

  

{% endblock %}