{% extends "base.html" %}

{% block content %}
  {% if error %}
  <h4> <span class="label label-danger">{{error}}</span></h4>
  {% endif %}
  <h2>Playa {{renter.name}}</h2>
  
  <p>{{renter.desc}} x{{renter.qty}}</p>
  {% for bike in renter.bikes %}
  <p>Bike rented: <a href="/bike/{{bike.code}}">{{bike}}</a></p>
  {% endfor %}
  <form method="POST">
  	<input type="text" name="attach_bike" placeholder="Bike Serial">
  	<input type="hidden" value="{{renter.email}}" name="renter">
  	<input type="submit" value="Add Bike">
  </form>
  <a href="zxing://scan/?ret={{url_for('renter', email=renter.email, _external=True)|urlencode}}?attach_bike=%7BCODE%7D" class="button btn">Scan</a>
{% endblock %}
<script>
